<div class="profile-container">
    <div class="profile-header">
        <div class="profile-avatar">
            <p-avatar shape="circle" size="xlarge" image="{{authService.currentUser?.profilePictureUrl}}"></p-avatar>
            <div class="profile-info">
                <h2>{{ authService.currentUser?.username }}</h2>
                <p>{{ authService.currentUser?.country }}</p>
            </div>
        </div>
        <div class="profile-rating">
            <p-rating [(ngModel)]="rating" width="32" height="32"></p-rating>
            <a href="#" class="reviews">{{ reviews }} reviews</a>
        </div>
    </div>

    <div class="profile-details">
        <p>{{ prints }} prints since {{ authService.currentUser?.createdAt | date:'MMM d, y' }}</p>
    </div>

    <p-tabView class="profile-tabs">
        <p-tabPanel header="My contest submissions">
            Content for contest submissions
        </p-tabPanel>
        <p-tabPanel header="My printers">
            Content for printers
        </p-tabPanel>
        <p-tabPanel header="My Reviews">
            Content for reviews
        </p-tabPanel>
    </p-tabView>
</div>