<div class="space-button">
    <div class="contest-container">
        <h1 class="font-semibold">{{ 'submissions.title_page' | translate }}</h1>
        <h1 class="">{{ contest?.theme }}</h1>
        <div class="container-row">
            <div>
                <span>
                    <i class="pi pi-inbox"></i>
                    {{ submissions.length }} {{ 'submissions.submissions' | translate }}
                </span>
            </div>

            <div>
                <span>
                    <i class="pi pi-hashtag"></i>
                    {{ contest?.submissionLimit }} {{ 'submissions.submissions_per_user' | translate }}
                </span>
            </div>

            <div *ngIf="contestDurationInDays">
                <span>
                    <i class="pi pi-calendar"></i>
                    {{ 'submissions.ends' | translate }} {{ contestDurationInDays }} {{ 'submissions.days' | translate }}
                </span>
            </div>
        </div>

        <div>
            {{ contest?.description }}
        </div>
    </div>
    <div *ngFor="let submission of submissions">
        <div class="mt-4">
            <h2>
                {{ submission.user.username }}
            </h2>
        </div>
        <div>
            <p-carousel [value]="submission.submissions" [numVisible]="3" [numScroll]="1"
                [responsiveOptions]="responsiveOptions" class="custom-carousel">
                <ng-template let-product #item>
                    <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4 carousel-mobile" [style]="{
                    'width': submission.submissions.length === 1 ? '33%' : (submission.submissions.length === 2 ? '65.5%' : 'auto')
                }">
                        <div class="mb-4">
                            <div class="relative mx-auto image-container">
                                <img [src]="product.imageUrl" [alt]="product.name" class="w-full rounded-border" />
                            </div>
                        </div>
                        <div class="mb-4 font-semibold text-xl">{{ product.name }}</div>
                        <div class="flex justify-between items-center">
                            <div>{{ product.description }}</div>
                            <div class="flex items-center gap-2">
                                <!-- Nombre de likes -->
                                <span class="font-semibold text-gray-700 dark:text-gray-300">{{ product.likes.length
                                    }}</span>

                                <!-- Bouton Like -->
                                <!-- <p-button 
                                    [icon]="product.liked ? 'pi pi-heart-fill' : 'pi pi-heart'"
                                    [severity]="product.liked ? 'danger' : 'secondary'"
                                    [outlined]="!product.liked"
                                    (click)="toggleLike(product)"
                                /> -->

                                <p-button icon="pi pi-heart" severity="secondary" />

                                <!-- Bouton Download -->
                                <a [href]="product.stlUrl" download ><p-button icon="pi pi-download" severity="primary" /></a>

                                @if (authService.currentUser?.id === submission.user.id) {
                                <p-button (click)="showDialog(product)" type="button" icon="pi pi-pencil"
                                    severity="primary"></p-button>
                                <p-button (click)="onDelete(product.id)" type="button" icon="pi pi-trash" severity="danger"></p-button>
                                }
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <p-button (click)="showDialog(null)" severity="info" label="{{ 'submissions.button_participate' | translate }}"
        class="button-participate"></p-button>

    <p-dialog header="{{ 'submission_form.title_form' | translate }}" [(visible)]="display" [modal]="true"
        [style]="{'max-width': '1000px' }" class="responsive-dialog">
        <form [formGroup]="submissionForm">
            <div class="container-popup">
                <div class="container-column w-full">
                    <p-floatlabel variant="in">
                        <input type="text" pInputText formControlName="name" class="w-full" />
                        <label for="name">{{ 'submission_form.name' | translate }}</label>
                    </p-floatlabel>

                    <p-message severity="error" variant="simple" size="small">
                        @if (submissionForm.get('name')?.errors?.['required']) {
                          {{ 'submission_form.error_name_required' | translate }}
                         } @else if (submissionForm.get('name')?.errors?.['minlength']) {
                          {{ 'submission_form.error_name_short' | translate }}
                         } @else if (submissionForm.get('name')?.errors?.['maxlength']) {
                          {{ 'submission_form.error_name_long' | translate }}
                         }
                      </p-message>

                    <p-floatlabel variant="in">
                        <textarea class="description-textarea w-full" id="description" pTextarea
                            formControlName="description" rows="4"></textarea>
                        <label for="description">{{ 'submission_form.description' | translate }}</label>
                    </p-floatlabel>

                    <p-message styleClass="error-message" severity="error" variant="simple" size="small">
                       {{ 'submission_form.error_description_long' | translate }}
                      </p-message>

                    <div class="container-row">
                        <div>
                            <div [class]="noStlPreview">
                                <div *ngIf="uploadedFileBlob || stlUrl" class="stl-preview">
                                    <stl-model-viewer *ngIf="isEdit" [stlModels]="[stlUrl]"
                                        class="stl-preview-file"></stl-model-viewer>
                                    <stl-model-viewer *ngIf="!isEdit" [stlModelFiles]="[uploadedFileBlob]"
                                        class="stl-preview-file"></stl-model-viewer>
                                </div>
                            </div>
                            <div class="mt-25">
                                <div class="fileUploadContainer center">
                                    <p-fileUpload mode="basic" name="image" accept=".stl" [maxFileSize]="1000000"
                                        chooseLabel="{{ 'submission_form.upload_stl' | translate }}" (onSelect)="onUploadStl($event)"
                                        (onError)="onFileUploadError($event)" [auto]="true"></p-fileUpload>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div [class]="noImagePreview">
                                <div *ngIf="imageUrl">
                                    <img [src]="imageUrl" alt="" class="image-preview" />
                                </div>
                            </div>
                            <div class="mt-25">
                                <div class="fileUploadContainer center">
                                    <p-fileUpload mode="basic" name="image" accept="image/*" [maxFileSize]="1000000"
                                        chooseLabel="{{ 'submission_form.upload_image' | translate }}" (onSelect)="onSelectImage($event)"
                                        (onError)="onFileUploadError($event)" [auto]="true"></p-fileUpload>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-container">
                        <p-button label="{{ 'global.cancel_button' | translate }}" type="button" icon="pi pi-times" severity="secondary"></p-button>
                        <p-button label="{{ 'global.save_button' | translate }}" (onClick)="onSubmit()" [disabled]="!submissionForm.valid"
                            icon="pi pi-save" severity="success"></p-button>
                    </div>
                </div>

            </div>
        </form>
    </p-dialog>
</div>

<p-dialog [(visible)]="deleteDialogVisible" [modal]="true" [style]="{ width: '25rem' }" dismissableMask="true"
    closable="false" blockScroll="true" resizable="false" draggable="false">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <i class="pi pi-exclamation-triangle text-red-500 text-2xl"></i>
            <span class="font-bold">Confirm Delete</span>
        </div>
    </ng-template>
    <span class="text-surface-500 dark:text-surface-400 block mb-4">
        Are you sure you want to delete the contest?
        This action cannot be undone.
    </span>
    <ng-template #footer>
        <p-button label="{{ 'global.cancel_button' | translate}}" [text]="true" severity="secondary" (click)="deleteDialogVisible = false" />
        <p-button label="{{ 'global.delete_button' | translate }}" severity="danger" (click)="confirmDelete()" />
    </ng-template>
</p-dialog>