<div>
    <p-tabs [value]="tab">
        <p-tablist>
            <p-tab [value]="'commands'" (click)="openCommands()">{{'orders.commands_tab' | translate}}</p-tab>
            <p-tab [value]="'contracts'" (click)="openContracts()">{{'orders.contracts_tab' | translate}}</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="'commands'">
                <p-table [value]="myOrders" [tableStyle]="{'width': '100%'}">
                    <ng-template #caption>
                        <div class="advanced-filters mb-4">
                            <div class="filter-header">
                                <div class="search-container">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input 
                                            pInputText
                                            type="text"
                                            placeholder="{{ 'request.search_placeholder' | translate }}"
                                            [(ngModel)]="searchQuery"
                                            [ngStyle]="{'height': '51px'}"
                                            (keyup.enter)="onSearch()"
                                        >
                                    </span>
                                </div>

                                <div class="advanced-toggle" (click)="toggleAdvancedFilters()">
                                    <span class="filter-title">{{'request.advanced_filters' | translate}}</span>
                                    <i class="pi" [ngClass]="{'pi-chevron-down': showAdvancedFilters, 'pi-chevron-right': !showAdvancedFilters}"></i>
                                </div>
                            </div>

                            <div class="filter-content" *ngIf="showAdvancedFilters">
                                <div class="filter-row">
                                    <div class="filter-item">
                                        <p-floatlabel variant="in">
                                            <p-select
                                                [options]="filterOptions"
                                                [(ngModel)]="selectedFilterOption"
                                                optionLabel="label"
                                                styleClass="w-full"
                                                variant="filled"
                                                [group]="true"
                                                [showClear]="true"
                                                (onChange)="onFilterChange($event)"
                                            >
                                                <ng-template let-group #group>
                                                    <div>
                                                        <span style="font-size: 24px;">{{group.label}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-select>
                                            <label for="in_label">{{ 'request.filter_by' | translate }}</label>
                                        </p-floatlabel>
                                    </div>

                                    <div class="filter-item">
                                        <p-floatlabel variant="in">
                                            <p-select
                                                [options]="sortOptions"
                                                [(ngModel)]="selectedSortOption"
                                                optionLabel="label"
                                                styleClass="w-full"
                                                variant="filled"
                                                [showClear]="true"
                                                (onChange)="onSortChange($event)"
                                            ></p-select>
                                            <label for="in_label">{{ 'request.sort_by' | translate }}</label>
                                        </p-floatlabel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th>
                                {{'orders.name_column' | translate}}
                            </th>
                            <th>
                                <div class="right-cell">
                                    {{'orders.price_column' | translate}}
                                </div>
                            </th>
                            <th>
                                <div class="center-cell">
                                    {{'orders.status_column' | translate}}
                                </div>
                            </th>
                            <th>
                                {{'orders.target_date_column' | translate}}
                            </th>
                            <th>
                                {{'orders.printer_column' | translate}}
                            </th>
                            <th>
                                {{'orders.rating_column' | translate}}
                            </th>
                            <th>
                                {{'orders.actions_column' | translate}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-order>
                        <tr>
                            <td>{{order.offer.request.name}}</td>
                            <td>
                                <div class="right-cell">
                                    {{order.offer.price | currency}}
                                </div>
                            </td>
                            <td>
                                <div class="center-cell">
                                    <span class="status-tag" [ngStyle]="{'background-color': statusColorRef[order.orderStatus.at(-1).statusName || 0]}">
                                        <p class="w-full">{{"status." + order.orderStatus.at(-1).statusName | translate}}</p>
                                    </span>
                                </div>
                            </td>
                            <td>{{order.offer.targetDate | date:'fullDate'}}</td>
                            <td>
                                <div class="h-td-table">
                                    <p-avatar label="" size="large" shape="circle" *ngIf="order.offer.printerUser.user.profilePictureUrl" image="{{order.offer.printerUser.user.profilePictureUrl}}"></p-avatar>
                                    <p>{{order.offer.printerUser.user.username}}</p>
                                </div>
                                
                            </td>
                            <td>
                                <div *ngIf="order.review" class="h-td-table">
                                    <p>{{order.review?.rating}}</p>
                                    <i class="pi pi-star-fill"></i>
                                </div>
                                <p *ngIf="!order.review">{{'orders.no_review_message' | translate}}</p>
                            </td>
                            <td>
                                <p-button
                                    icon="pi pi-arrow-right"
                                    title="{{'orders.action_button_label' | translate}}"
                                    routerLink="/orders/view/{{ order.id }}"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div
                    *ngIf="myOrders.length == 0"
                    class="empty-message"
                    style="width: 100%; height: 100%;"
                    >
                    <i class="pi pi-inbox text-6xl text-gray-400"></i>
                    <p class="text-xl font-semibold text-gray-500 mt-2">
                        {{'orders.no_commands_message' | translate}}
                    </p>
                </div>
            </p-tabpanel>
            <p-tabpanel [value]="'contracts'">
                <p-table [value]="makeOrders" [tableStyle]="{'width': '100%'}">
                    <ng-template #caption>
                        <div class="advanced-filters mb-4">
                            <div class="filter-header">
                                <div class="search-container">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input 
                                            pInputText
                                            type="text"
                                            placeholder="{{ 'request.search_placeholder' | translate }}"
                                            [(ngModel)]="searchQuery"
                                            [ngStyle]="{'height': '51px'}"
                                            (keyup.enter)="onSearch()"
                                        >
                                    </span>
                                </div>

                                <div class="advanced-toggle" (click)="toggleAdvancedFilters()">
                                    <span class="filter-title">{{'request.advanced_filters' | translate}}</span>
                                    <i class="pi" [ngClass]="{'pi-chevron-down': showAdvancedFilters, 'pi-chevron-right': !showAdvancedFilters}"></i>
                                </div>
                            </div>

                            <div class="filter-content" *ngIf="showAdvancedFilters">
                                <div class="filter-row">
                                    <div class="filter-item">
                                        <p-floatlabel variant="in">
                                            <p-select
                                                [options]="filterOptions"
                                                [(ngModel)]="selectedFilterOption"
                                                optionLabel="label"
                                                styleClass="w-full"
                                                variant="filled"
                                                [group]="true"
                                                [showClear]="true"
                                                (onChange)="onFilterChange($event)"
                                            >
                                                <ng-template let-group #group>
                                                    <div>
                                                        <span style="font-size: 24px;">{{group.label}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-select>
                                            <label for="in_label">{{ 'request.filter_by' | translate }}</label>
                                        </p-floatlabel>
                                    </div>

                                    <div class="filter-item">
                                        <p-floatlabel variant="in">
                                            <p-select
                                                [options]="sortOptions"
                                                [(ngModel)]="selectedSortOption"
                                                optionLabel="label"
                                                styleClass="w-full"
                                                variant="filled"
                                                [showClear]="true"
                                                (onChange)="onSortChange($event)"
                                            ></p-select>
                                            <label for="in_label">{{ 'request.sort_by' | translate }}</label>
                                        </p-floatlabel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th>
                                {{'orders.name_column' | translate}}
                            </th>
                            <th>
                                <div class="right-cell">
                                    {{'orders.price_column' | translate}}
                                </div>
                            </th>
                            <th>
                                <div class="center-cell">
                                    {{'orders.status_column' | translate}}
                                </div>
                            </th>
                            <th>
                                {{'orders.target_date_column' | translate}}
                            </th>
                            <th>
                                {{'orders.consumer_column' | translate}}
                            </th>
                            <th>
                                {{'orders.rating_column' | translate}}
                            </th>
                            <th>
                                {{'orders.actions_column' | translate}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-order>
                        <tr>
                            <td>{{order.offer.request.name}}</td>
                            <td>
                                <div class="right-cell">
                                    {{order.offer.price | currency}}
                                </div>
                            </td>
                            <td>
                                <div class="center-cell">
                                    <span class="status-tag" [ngStyle]="{'background-color': statusColorRef[order.orderStatus.at(-1).statusName || 0]}">
                                        <p class="w-full">{{"status." + order.orderStatus.at(-1).statusName | translate}}</p>
                                    </span>
                                </div>
                            </td>
                            <td>{{order.offer.targetDate | date:'fullDate'}}</td>
                            <td>
                                <div class="h-td-table">
                                    <p-avatar label="" size="large" shape="circle" *ngIf="order.offer.request.user.profilePictureUrl" image="{{order.offer.request.user.profilePictureUrl}}"></p-avatar>
                                    <p>{{order.offer.request.user.username}}</p>
                                </div>
                                
                            </td>
                            <td>
                                <div *ngIf="order.review" class="h-td-table">
                                    <p>{{order.review?.rating}}</p>
                                    <i class="pi pi-star-fill"></i>
                                </div>
                                <p *ngIf="!order.review">{{'orders.no_review_message' | translate}}</p>
                            </td>
                            <td>
                                <p-button
                                    icon="pi pi-arrow-right"
                                    title="{{'orders.action_button_label' | translate}}"
                                    routerLink="/orders/view/{{ order.id }}"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div
                    *ngIf="makeOrders.length == 0"
                    class="empty-message"
                    style="width: 100%; height: 100%;"
                    >
                    <i class="pi pi-inbox text-6xl text-gray-400"></i>
                    <p class="text-xl font-semibold text-gray-500 mt-2">
                        {{'orders.no_contract_message' | translate}}
                    </p>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>

