<div>
    <div class="filter-content">
        <div class="filter-item">
            <div>
                <p-floatlabel variant="in">
                    <p-datepicker [(ngModel)]="startDate" variant="filled" [minDate]="minDate" [maxDate]="maxDate" (onSelect)="onStartChange($event)" [showButtonBar]="true" (onClearClick)="onClearStartDate()" />
                    <label for="in_label">{{ 'leaderboard.start_date' | translate }}</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="filter-item">
            <div>
                <p-floatlabel variant="in">
                    <p-datepicker [(ngModel)]="endDate" variant="filled" [minDate]="minDate" [maxDate]="maxDate" (onSelect)="onEndChange($event)" [showButtonBar]="true" (onClearClick)="onClearEndDate()" />
                    <label for="in_label">{{ 'leaderboard.end_date' | translate }}</label>
                </p-floatlabel>
            </div>
        </div>
        
        <div class="filter-item">
            <div>
                <p-floatlabel variant="in">
                    <p-select inputId="in_label" [options]="sortOptions" [(ngModel)]="selectedSortOption"
                        name="selectedSortOption" optionLabel="label" styleClass="w-full" variant="filled"
                        (onChange)="onSortChange($event)" appendTo="body" [showClear]="true" />
                    <label for="in_label">{{ 'global.sort_by' | translate }}</label>
                </p-floatlabel>
            </div>
        </div>
    </div>

    <p-table [value]="usersLeaderboard" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>{{ 'leaderboard.username' | translate }}</th>
                <th>{{ 'leaderboard.wins' | translate }}</th>
                <th>{{ 'leaderboard.participations' | translate }}</th>
                <th>{{ 'leaderboard.winrate' | translate }}</th>
                <th>{{ 'leaderboard.total_likes' | translate }}</th>
                <th>{{ 'leaderboard.submission_ratio' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template #body let-rowData>
            <tr>
                <td>{{ rowData.username }}</td>
                <td>{{ rowData.wins }}</td>
                <td>{{ rowData.participations }}</td>
                <td>{{ rowData.winRate }}%</td>
                <td>{{ rowData.totalLikes }}</td>
                <td>{{ rowData.submissionsParticipationRate }}%</td>
            </tr>
        </ng-template>
    </p-table>
</div>