<div class="contest-container">
  <div class="card">
    <h1> Créer un concours </h1>

    <form [formGroup]="contestForm" (ngSubmit)="onSubmit()">
      <div class="">
        <div class="container-row">
          <!-- Thème -->
          <div class="container-column">
            <div>
              <div class="">
                <p-floatlabel variant="in">
                  <input id="theme" pInputText formControlName="theme" type="text" />
                  <label for="theme" class="p-text-bold">Theme</label>
                </p-floatlabel>
                <p-message severity="error" variant="simple" size="small">The theme is required</p-message>
              </div>

              <!-- Limite -->

            </div>

            <div>
              <!-- Description -->
              <div class="mt-12">
                <p-floatlabel variant="in">
                  <textarea class="description-textarea" id="description" pTextarea formControlName="description"
                    rows="4"></textarea>
                  <label for="description" class="p-text-bold">Description</label>
                </p-floatlabel>
                <p-message severity="error" variant="simple" size="small">The description is too long</p-message>
              </div>

              <!-- Date de début -->
              <div class="container-row mt-12">
                <div class="">
                  <p-floatlabel variant="in">
                    <p-datepicker [hourFormat]="'24'" [showTime]="true" formControlName="startDate"
                      [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false" dateFormat="yy-mm-dd"
                      [class]="startDatePicker" [style]="{width: '100%'}"></p-datepicker>
                    <label for="startDate">Start date</label>
                  </p-floatlabel>
                  <p-message class="date-error" severity="error" variant="simple" size="small">
                    {{ contestForm.errors?.['dateError'] ? contestForm.errors?.['dateError'] : 'Start date is required'
                    }}
                  </p-message>
                </div>

                <div class="mt-12">
                  <p-floatlabel variant="in">
                    <p-datepicker [hourFormat]="'24'" [showTime]="true" formControlName="endDate"
                      [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false"
                      dateFormat="yy-mm-dd" [style]="{width: '100%'}"></p-datepicker>
                    <label for="endDate" class="center-label">End date</label>
                  </p-floatlabel>
                </div>

                <div class="mt-12">
                  <p-floatlabel variant="in">
                    <p-inputnumber [style]="{'width': '400px'}" id="limit" formControlName="limit" [min]="1" [max]="30"
                      [showButtons]="true"></p-inputnumber>
                    <label for="limit" class="p-text-bold">Limit</label>
                  </p-floatlabel>
                  <p-message severity="error" variant="simple" size="small">Limit is required</p-message>
                </div>
              </div>

            </div>
          </div>

          <div class="mt-12">
            <div [class]="noImagePreview">
              <div *ngIf="imageUrl">
                <img [src]="imageUrl" alt="" class="image-preview" />
              </div>
            </div>

            <!-- Upload de l'image -->
            <div class="mt-12 items-center">
              <div class="fileUploadContainer center">
                <!-- <label for="image" class="p-text-bold">Image</label> -->
                <p-fileUpload mode="basic" name="image" accept="image/*" [maxFileSize]="1000000"
                  (onSelect)="onFileSelect($event)" chooseLabel="Upload file"></p-fileUpload>
              </div>
            </div>
          </div>
        </div>
        <!-- Boutons -->
        <div class="mt-12">
          <div class="button-container">
            <p-button label="Cancel" type="button" (click)="onCancel()" icon="pi pi-times"
              severity="secondary"></p-button>
            @if (isEdit) {
            <p-button label="Delete" type="button" (click)="onDelete()" icon="pi pi-trash" severity="danger">
            </p-button>
            }
            <p-button label="Save" [disabled]="!contestForm.valid" icon="pi pi-save" severity="success"
              (onClick)="onSubmit()"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<p-dialog
  [(visible)]="deleteDialogVisible"
  [modal]="true"
  [style]="{ width: '25rem' }"
  dismissableMask="true"
  closable="false"
  blockScroll="true"
  resizable="false"
  draggable="false"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <i class="pi pi-exclamation-triangle text-red-500 text-2xl"></i>
      <span class="font-bold">Confirm Delete</span>
    </div>
  </ng-template>
  <span class="text-surface-500 dark:text-surface-400 block mb-4">
    Are you sure you want to delete the contest?
    This action cannot be undone.
  </span>
  <ng-template #footer>
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (click)="deleteDialogVisible = false"
    />
    <p-button label="Delete" severity="danger" (click)="confirmDelete()" />
  </ng-template>
</p-dialog>