<div class="contest-container">
  <div class="card">
    <h1> Créer un concours </h1>
    <form [formGroup]="contestForm" (ngSubmit)="onSubmit()">
      <div class="">
        <div class="container-row">
          <!-- Thème -->
          <div class="container-column">
            <div>
              <div class="">
                <p-floatlabel variant="in">
                  <input id="theme" pInputText formControlName="theme" type="text" />
                  <label for="theme" class="p-text-bold">{{ 'contest_form.theme' | translate }}</label>
                </p-floatlabel>
                <p-message severity="error" variant="simple" size="small">
                  @if (contestForm.get('theme')?.errors?.['required']) {
                  {{ 'contest_form.error_theme_required' | translate }}
                  } @else if (contestForm.get('theme')?.errors?.['minlength']) {
                  {{ 'contest_form.error_theme_short' | translate }}
                  } @else if (contestForm.get('theme')?.errors?.['maxlength']) {
                  {{ 'contest_form.error_theme_long' | translate }}
                  }
                </p-message>
              </div>

              <!-- Limite -->

            </div>

            <div>
              <!-- Description -->
              <div class="mt-12">
                <p-floatlabel variant="in">
                  <textarea class="description-textarea" id="description" pTextarea formControlName="description"
                    rows="4"></textarea>
                  <label for="description" class="p-text-bold">{{ 'contest_form.description' | translate }}</label>
                </p-floatlabel>
                <p-message severity="error" variant="simple" size="small">{{ 'contest_form.error_description_long' |
                  translate }}</p-message>
              </div>

              <!-- Date de début -->
              <div class="container-row mt-12">
                <div class="">
                  <p-floatlabel variant="in">
                    <p-datepicker [hourFormat]="'24'" [showTime]="true" formControlName="startDate" [showIcon]="true"
                      inputId="buttondisplay" [showOnFocus]="false" dateFormat="yy-mm-dd" [class]="startDatePicker"
                      [style]="{width: '100%'}"></p-datepicker>
                    <label for="startDate">{{ 'contest_form.start_date' | translate }}</label>
                  </p-floatlabel>
                  <p-message class="date-error" severity="error" variant="simple" size="small">
                    {{ contestForm.errors?.['dateError'] ? contestForm.errors?.['dateError'] :
                    'contest_form.error_start_at_required' | translate
                    }}
                  </p-message>
                </div>

                <div class="">
                  <p-floatlabel variant="in">
                    <p-datepicker [hourFormat]="'24'" [showTime]="true" formControlName="endDate" [showIcon]="true"
                      inputId="buttondisplay" [showOnFocus]="false" dateFormat="yy-mm-dd"
                      [style]="{width: '100%'}"></p-datepicker>
                    <label for="endDate" class="center-label">{{ 'contest_form.end_date' | translate }}</label>
                  </p-floatlabel>
                </div>

                <div class="">
                  <p-floatlabel variant="in">
                    <p-inputnumber [style]="{'width': '400px'}" id="limit" formControlName="limit" [min]="1" [max]="30"
                      [showButtons]="true"></p-inputnumber>
                    <label for="limit" class="p-text-bold">{{ 'contest_form.submission_limit' | translate }}</label>
                  </p-floatlabel>
                  <p-message severity="error" variant="simple" size="small">
                    @if (contestForm.get('limit')?.errors?.['required']) {
                    {{ 'contest_form.error_limit_required' | translate }}
                    } @else if (contestForm.get('limit')?.errors?.['min']) {
                    {{ 'contest_form.error_limit_min' | translate }}
                    } @else if (contestForm.get('limit')?.errors?.['max']) {
                    {{ 'contest_form.error_limit_max' | translate }}
                    }
                  </p-message>
                </div>
              </div>

            </div>
          </div>

          <div class="">
            <div [class]="noImagePreview">
              <div *ngIf="imageUrl">
                <img [src]="imageUrl" alt="" class="image-preview" />
              </div>

              <div *ngIf="!imageUrl">
                <p-message severity="warn" styleClass="error-file">
                  {{ 'contest_form.error_image_required' | translate }}
                </p-message>
              </div>
            </div>

            <!-- Upload de l'image -->
            <div class="mt-12 items-center">
              <div class="fileUploadContainer center">
                <!-- <label for="image" class="p-text-bold">Image</label> -->
                <p-fileUpload mode="basic" name="image" accept="image/*" [maxFileSize]="1000000"
                  (onSelect)="onFileSelect($event)" chooseLabel="{{ 'contest_form.button_upload' | translate }}"
                  [auto]="true"></p-fileUpload>
              </div>
            </div>
          </div>
        </div>
        <!-- Boutons -->
        <div class="mt-12">
          <div class="button-container">
            <p-button label="{{ 'global.cancel_button' | translate }}" type="button" (click)="onCancel()"
              icon="pi pi-times" severity="secondary"></p-button>
            @if (isEdit) {
            <p-button label="{{ 'global.delete_button' | translate }}" type="button" (click)="onDelete()"
              icon="pi pi-trash" severity="danger">
            </p-button>
            }
            <p-button label="{{ 'global.save_button' | translate }}" [disabled]="!contestForm.valid" icon="pi pi-save"
              severity="success" (onClick)="onSubmit()"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<p-dialog [(visible)]="deleteDialogVisible" [modal]="true" [style]="{ width: '25rem' }" dismissableMask="true"
  closable="false" blockScroll="true" resizable="false" draggable="false">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <i class="pi pi-exclamation-triangle text-red-500 text-2xl"></i>
      <span class="font-bold">{{ 'contest.confirm_delete' | translate }}</span>
    </div>
  </ng-template>
  <span class="text-surface-500 dark:text-surface-400 block mb-4">
    {{ 'contest.confirm_delete_message' | translate }}
  </span>
  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="deleteDialogVisible = false" />
    <p-button label="Delete" severity="danger" (click)="confirmDelete()" />
  </ng-template>
</p-dialog>