<div class="card">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6" style="margin-bottom: 5px;">
        
        <div class="flex-col gap-6">
            <p class="h1c">{{order?.offer?.request?.name}}</p>
            
            <div class="h-row">
                <p class="info-label h3c">{{'order.printer_owner' | translate}}</p>
                <div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">
                    <p-avatar label="" size="large" shape="circle" *ngIf="order?.offer?.printerUser?.user?.profilePictureUrl" image="{{order?.offer?.printerUser?.user?.profilePictureUrl}}"></p-avatar>
                    <!-- <p class="h3c">{{order?.offer?.printerUser?.user?.username}}</p> -->
                    <p-button [style]="{height: '100%', 'font-size': '1.25rem'}" [label]="order?.offer?.printerUser?.user?.username" [link]="true" routerLink="/profile/{{ order?.offer?.printerUser?.user?.id }}"/>

                </div>
            </div>

            <div class="h-row">
                <p class="info-label h3c">{{'order.price' | translate}}</p>
                <p class="h3c">{{order?.offer?.price | currency}}</p>
            </div>

            <div class="h-row">
                <p class="info-label h3c">{{'order.current_status' | translate}}</p>
                <span [ngStyle]="{'color': 'rgb(34, 34, 34)', 'background-color': statusColorRef[currentStatus?.statusName || 0], 'border-radius': '10px', 'height': '30px', 'padding': '7px', 'display': 'flex', 'flex-direction': 'row', 'align-items': 'center'}">
                    <p>{{"status." + currentStatus?.statusName | translate}}</p>
                </span>
            </div>

            <div class="h-row">
                <p class="info-label h3c">{{'order.target_date' | translate}}</p>
                <p class="h3c">{{order?.offer?.targetDate | date:'fullDate'}}</p>
            </div>

            <div style="margin-bottom: 1.5rem;">
                <p-fieldset legend="{{'order.comment' | translate}}" class="comment-container">
                    <p class="m-0" class="comment">
                        {{order?.offer?.request?.comment}}
                    </p>
                </p-fieldset>
            </div>
        </div>

        <div class="stl-section flex flex-col items-center">
            <div class="stl-viewer-container">
                <stl-model-viewer class="stl-viewer" *ngIf="order?.offer?.request?.stlFileUrl" [stlModels]="[order?.offer?.request?.stlFileUrl ?? '']"></stl-model-viewer>
            </div>
        </div>
    </div>
    
    <p-dialog header="{{isEdit ? ('order.order_status.update_title' | translate) : ('order.order_status.new_title' | translate)}}" [modal]="true" [(visible)]="formVisible" [style]="{ width: '35rem', margin: '10px' }">
        <form [formGroup]="orderStatusForm" (ngSubmit)="onStatusSubmit()">
            <div class="popup-form-container">
                <p-dropdown 
                    formControlName="statusName" 
                    [options]="availableStatuses"
                    optionLabel="name"
                    optionValue="value"
                    placeholder="{{orderStatusForm.value.statusName}}"
                    [style]="{width: '100%'}"
                    [disabled]="isEdit">
                </p-dropdown>

                <div>
                    <p-floatlabel variant="in">
                        <textarea
                            pTextarea
                            id="comment"
                            formControlName="comment"
                            rows="5"
                            cols="30"
                            style="resize: none"
                            maxlength="200"
                            >
                        </textarea>
                        <label for="comment">{{'order.order_status.comment_label' | translate}}</label>
                    </p-floatlabel>
                    <p-message severity="error" variant="simple" size="small">{{'order.comment_error' | translate}}</p-message>
                </div>
                
                <img src="{{imageUrl}}" alt="" class="image-preview" />
                <div *ngIf="imageUrl == ''" class="image-placeholder">
                    <p>Image</p>
                </div>
                <div>
                    <p-fileUpload
                        mode="basic"
                        name="image"
                        accept="image/*"
                        [auto]="true"
                        chooseLabel="{{'order.order_status.upload_button' | translate}}"
                        (onSelect)="onFileSelect($event)">
                    </p-fileUpload>
                </div>
            </div>
            <div style="display: flex; justify-content: flex-end; gap: 1rem; margin-top: 1rem;">
                <p-button label="{{'global.cancel_button' | translate}}" icon="pi pi-times" severity="secondary" (click)="formVisible = false" severity="secondary"></p-button>
                <p-button label="{{'global.save_button' | translate}}" icon="pi pi-save" [disabled]="orderStatusForm.invalid" (click)="onStatusSubmit()" severity="success"></p-button>
            </div>
        </form>
    </p-dialog>

    <p-tabs [value]="tab">
        <p-tablist>
            <p-tab [value]="'status'" (click)="setStatusTab()">Status</p-tab>
            <p-tab [value]="'review'" (click)="setReviewTab()" disabled="{{currentStatus?.statusName != 'Arrived' && currentStatus?.statusName != 'Cancelled'}}">{{'order.review.tab' | translate}}</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="'status'">

                <div style="width: 100%; display: flex; flex-direction: row; align-items: flex-start;">
                    <p-speeddial *ngIf="statusActions.length > 0" showIcon="pi pi-pen-to-square" class="p-actions-container" [model]="statusActions" direction="right" [style]="{'margin-left': '4px'}" [buttonProps]="{ severity: 'contrast'}" [tooltipOptions]="{ tooltipPosition: 'bottom' }" />
                </div>
                
                <p-stepper [value]="1">

                    <p-step-item [value]="1" [ngStyle]="{'opacity': AcceptedStatus.length === 0 ? 0.5 : 1}">
                        <p-step>
                            <ng-template #content>
                                <div class="global-status-header-container">
                                    <div class="status-header-circle" [ngStyle]="{'background-color': statusColorRef['Accepted']}" >
                                        <i class="pi pi-play status-header-circle-icon"></i>
                                    </div>
                                    <p>{{'status.Accepted' | translate}}</p>
                                </div>
                            </ng-template>
                        </p-step>
                        <p-step-panel>
                            <ng-template #content>
                                <div class="status-content-container-container">
                                    <div *ngFor="let status of AcceptedStatus" class="status-content-container">
                                        <div class="status-content-header" [ngStyle]="{'margin-bottom': consumer || ['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '') || AcceptedStatus.length == 1 ? '0px' : '-20px'}">
                                            <div class="status-content-date-container">
                                                <p class="status-content-date">{{status.updatedAt | date:'medium'}}</p>
                                            </div>
                                            <div class="three-dot-container" *ngIf="!consumer && !['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '') && AcceptedStatus.length > 1">
                                                <p-button [rounded]="true" [text]="true" icon="pi pi-ellipsis-v" (click)="menu.toggle($event); setSelectedOrderStatus(status.id)" />
                                                <p-menu #menu [model]="editMenuItems" [popup]="true"></p-menu>
                                            </div>
                                        </div>
                                        
                                        <div class="status-content-image" *ngIf="status.imageUrl">
                                            <img class="status-content-image" [src]="status.imageUrl" alt="">
                                        </div>
                                        <p *ngIf="!status.comment">{{statusDefaultCommentRef['Accepted']}}</p>
                                        <p>{{status.comment}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-item>

                    <p-step-item [value]="1" [ngStyle]="{'opacity': PrintingStatus.length === 0 ? 0.5 : 1}">
                        <p-step>
                            <ng-template #content>
                                <div class="global-status-header-container">
                                    <div class="status-header-circle" [ngStyle]="{'background-color': statusColorRef['Printing']}">  <!-- put color here -->
                                        <i class="pi pi-print status-header-circle-icon"></i>
                                    </div>
                                    <p>{{'status.Printing' | translate}}</p>
                                </div>
                            </ng-template>
                        </p-step>
                        <p-step-panel>
                            <ng-template #content>
                                <div class="status-content-container-container">
                                    <div *ngFor="let status of PrintingStatus" class="status-content-container">
                                        <div class="status-content-header" [ngStyle]="{'margin-bottom': consumer || ['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '') ? '0px' : '-20px'}">
                                            <div class="status-content-date-container">
                                                <p class="status-content-date">{{status.updatedAt | date:'medium'}}</p>
                                            </div>
                                            <div class="three-dot-container" *ngIf="!consumer && !['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '')">
                                                <p-button [rounded]="true" [text]="true" icon="pi pi-ellipsis-v" (click)="menu.toggle($event); setSelectedOrderStatus(status.id)" />
                                                <p-menu #menu [model]="editMenuItems" [popup]="true"></p-menu>
                                            </div>
                                        </div>

                                        <div class="status-content-image" *ngIf="status.imageUrl">
                                            <img class="status-content-image" [src]="status.imageUrl" alt="">
                                        </div>
                                        <p *ngIf="!status.comment">{{statusDefaultCommentRef['Printing']}}</p>
                                        <p>{{status.comment}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-item>

                    <p-step-item [value]="1" [ngStyle]="{'opacity': PrintedStatus.length === 0 ? 0.5 : 1}">
                        <p-step>
                            <ng-template #content>
                                <div class="global-status-header-container">
                                    <div class="status-header-circle" [ngStyle]="{'background-color': statusColorRef['Printed']}">  <!-- put color here -->
                                        <i class="pi pi-check-circle status-header-circle-icon"></i>
                                    </div>
                                    <p>{{'status.Printed' | translate}}</p>
                                </div>
                            </ng-template>
                        </p-step>
                        <p-step-panel>
                            <ng-template #content>
                                <div class="status-content-container-container">
                                    <div *ngFor="let status of PrintedStatus" class="status-content-container">
                                        <div class="status-content-header" [ngStyle]="{'margin-bottom': consumer || ['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '') ? '0px' : '-20px'}">
                                            <div class="status-content-date-container">
                                                <p class="status-content-date">{{status.updatedAt | date:'medium'}}</p>
                                            </div>
                                            <div class="three-dot-container" *ngIf="!consumer && !['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '')">
                                                <p-button [rounded]="true" [text]="true" icon="pi pi-ellipsis-v" (click)="menu.toggle($event); setSelectedOrderStatus(status.id)" />
                                                <p-menu #menu [model]="editMenuItems" [popup]="true"></p-menu>
                                            </div>
                                        </div>
                                        <div class="status-content-image" *ngIf="status.imageUrl">
                                            <img class="status-content-image" [src]="status.imageUrl" alt="">
                                        </div>
                                        <p *ngIf="!status.comment">{{statusDefaultCommentRef['Printed']}}</p>
                                        <p>{{status.comment}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-item>

                    <p-step-item [value]="1" [ngStyle]="{'opacity': ShippedStatus.length === 0 ? 0.5 : 1}">
                        <p-step >
                            <ng-template #content>
                                <div class="global-status-header-container">
                                    <div class="status-header-circle" [ngStyle]="{'background-color': statusColorRef['Shipped']}">  <!-- put color here -->
                                        <i class="pi pi-send status-header-circle-icon"></i>
                                    </div>
                                    <p>{{'status.Shipped' | translate}}</p>
                                </div>
                            </ng-template>
                        </p-step>
                        <p-step-panel>
                            <ng-template #content>
                                <div class="status-content-container-container">
                                    <div *ngFor="let status of ShippedStatus" class="status-content-container">
                                        <div class="status-content-header" [ngStyle]="{'margin-bottom': consumer || ['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '') ? '0px' : '-20px'}">
                                            <div class="status-content-date-container">
                                                <p class="status-content-date">{{status.updatedAt | date:'medium'}}</p>
                                            </div>
                                            <div class="three-dot-container" *ngIf="!consumer && !['Cancelled', 'Arrived', 'Shipped'].includes(currentStatus?.statusName ?? '')">
                                                <p-button [rounded]="true" [text]="true" icon="pi pi-ellipsis-v" (click)="menu.toggle($event); setSelectedOrderStatus(status.id)" />
                                                <p-menu #menu [model]="editMenuItems" [popup]="true"></p-menu>
                                            </div>
                                        </div>
                                        <div class="status-content-image" *ngIf="status.imageUrl">
                                            <img class="status-content-image" [src]="status.imageUrl" alt="">
                                        </div>
                                        <p *ngIf="!status.comment">{{statusDefaultCommentRef['Shipped']}}</p>
                                        <p>{{status.comment}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-item>

                    <p-step-item [value]="1" [ngStyle]="{'opacity': ArrivedStatus.length === 0 && !canArrive ? 0.5 : 1}">
                        <p-step >
                            <ng-template #content>
                                <div class="global-status-header-container">
                                    <div class="status-header-circle" [ngStyle]="{'background-color': statusColorRef['Arrived']}">  <!-- put color here -->
                                        <i class="pi pi-home status-header-circle-icon"></i>
                                    </div>
                                    <p>{{'status.Arrived' | translate}}</p>
                                </div>
                            </ng-template>
                        </p-step>
                        <p-step-panel>
                            <ng-template #content>
                                <div class="status-content-container-container">
                                    <div *ngFor="let status of ArrivedStatus" class="status-content-container">
                                        <p class="status-content-date">{{status.updatedAt | date:'medium'}}</p>
                                        <div class="status-content-image" *ngIf="status.imageUrl">
                                            <img class="status-content-image" [src]="status.imageUrl" alt="">
                                        </div>
                                        <p *ngIf="!status.comment">{{statusDefaultCommentRef['Arrived']}}</p>
                                        <p>{{status.comment}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-item>

                    <p-step-item [value]="1" [ngStyle]="{'opacity': CancelledStatus.length === 0 ? 0.5 : 1}">
                        <p-step>
                            <ng-template #content>
                                <div class="global-status-header-container">
                                    <div class="status-header-circle" [ngStyle]="{'background-color': statusColorRef['Cancelled']}">  <!-- put color here -->
                                        <i class="pi pi-ban status-header-circle-icon"></i>
                                    </div>
                                    <p>{{'status.Cancelled' | translate}}</p>
                                </div>
                            </ng-template>
                        </p-step>
                        <p-step-panel>
                            <ng-template #content>
                                <div class="status-content-container-container">
                                    <div *ngFor="let status of CancelledStatus" class="status-content-container">
                                        <p class="status-content-date">{{status.updatedAt | date:'medium'}}</p>
                                        <div class="status-content-image" *ngIf="status.imageUrl">
                                            <img class="status-content-image" [src]="status.imageUrl" alt="">
                                        </div>
                                        <p *ngIf="!status.comment">{{statusDefaultCommentRef['Cancelled']}}</p>
                                        <p>{{status.comment}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-item>

                </p-stepper>
            </p-tabpanel>
            <p-tabpanel [value]="'review'">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6" style="margin-bottom: 5px;">
                    <form class="" [formGroup]="reviewForm">
                        <div style="margin-bottom: 2rem;">
                            <p-floatlabel variant="in" floatLabel="always">
                                <input
                                type="text"
                                formControlName="title"
                                pInputText
                                id="title"
                                maxlength="30"
                                />
                                <label for="title">{{'order.review.title' | translate}}</label>
                            </p-floatlabel>
                            <p-message severity="error" variant="simple" size="small">{{'order.title_error' | translate}}</p-message>
                        </div>

                        <div style="margin-bottom: 2rem;">
                            <p-floatlabel variant="in" floatLabel="always">
                                <textarea
                                pTextarea
                                id="description"
                                formControlName="description"
                                rows="5"
                                cols="30"
                                style="resize: none"
                                maxlength="200"
                                ></textarea>
                                <label for="description">{{'order.review.description' | translate}}</label>
                            </p-floatlabel>
                            <p-message severity="error" variant="simple" size="small">{{'order.comment_error' | translate}}</p-message>
                        </div>

                        <p-rating 
                            formControlName="rating"
                            [readonly]="false"
                            [stars]="5"
                            class="big-stars"
                        ></p-rating>

                        <div *ngIf="consumer" style="display: flex; justify-content: flex-start; gap: 1rem; margin-top: 1rem;">
                            <p-button label="{{'global.save_button' | translate}}" icon="pi pi-save" [disabled]="reviewForm.invalid" (click)="onReviewSubmit()" severity="success"></p-button>
                            <p-button *ngIf="isEditReview" label="{{'global.delete_button' | translate}}" icon="pi pi-trash" (click)="deleteReviewDialogVisible = true" severity="danger"></p-button>
                        </div>
                    </form>
                    <div class="flex-col gap-6">
                        <div *ngIf="reviewImageUrls.length == 0" class="empty-carousel">
                            <p-fileUpload
                                *ngIf="consumer"
                                mode="basic"
                                multiple="true"
                                name="images"
                                accept="image/*"
                                [auto]="true"
                                chooseLabel="{{'order.order_status.upload_button' | translate}}"
                                (onSelect)="onReviewFileSelect($event)"
                                [style]="{'position': 'absolute', 'top': '0.5rem', 'left': '0.5rem'}">
                            </p-fileUpload>
                            <i class="pi pi-images" style="font-size: 2.5rem;"></i>
                        </div>
                        <p-galleria [value]="reviewImageUrls" [numVisible]="5" [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="true" [indicatorsPosition]="'bottom'" [showIndicators]="true" [containerStyle]="{'max-width': '100%', 'height': '400px'}">
                            <ng-template #item let-image>
                                <div *ngIf="consumer">
                                    <p-fileUpload
                                        mode="basic"
                                        multiple="true"
                                        name="images"
                                        accept="image/*"
                                        [auto]="true"
                                        (onSelect)="onReviewFileSelect($event)"
                                        class="no-label-upload"
                                        [style]="{'position': 'absolute', 'top': '0.5rem', 'left': '0.5rem'}">
                                    </p-fileUpload>
                                </div>
                                <p-button *ngIf="consumer" icon="pi pi-trash" severity="danger" [style]="{'position': 'absolute', 'top': '0.5rem', 'right': '0.5rem'}" (onClick)="deleteImage(image.url)"></p-button>
                                <img [src]="image.url" alt="" style="display:block;width:100%;object-fit:contain;height: 400px;">
                            </ng-template>
                        </p-galleria>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
    
    <p-dialog
    [(visible)]="deleteStatusDialogVisible"
    [modal]="true"
    [style]="{ width: '25rem' }"
    dismissableMask="true"
    closable="false"
    blockScroll="true"
    resizable="false"
    draggable="false"
    >
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
        <i class="pi pi-exclamation-triangle text-red-500 text-2xl"></i>
        <span style="margin-left: 5px;" class="font-bold">Confirm Delete</span>
        </div>
    </ng-template>
    <span class="text-surface-500 dark:text-surface-400 block mb-4">
        {{'order.verif_delete_order_status' | translate}}
    </span>
    <ng-template #footer>
        <p-button
        label="{{'global.cancel_button' | translate}}"
        [text]="true"
        severity="secondary"
        (click)="deleteStatusDialogVisible = false"
        />
        <p-button label="{{'global.delete_button' | translate}}" severity="danger" (click)="DeleteOrderStatus()" />
    </ng-template>
    </p-dialog>

    <p-dialog
    [(visible)]="deleteReviewDialogVisible"
    [modal]="true"
    [style]="{ width: '25rem' }"
    dismissableMask="true"
    closable="false"
    blockScroll="true"
    resizable="false"
    draggable="false"
    >
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
        <i class="pi pi-exclamation-triangle text-red-500 text-2xl"></i>
        <span style="margin-left: 5px;" class="font-bold">Confirm Delete</span>
        </div>
    </ng-template>
    <span class="text-surface-500 dark:text-surface-400 block mb-4">
        {{'order.verif_delete_review' | translate}}
    </span>
    <ng-template #footer>
        <p-button
        label="{{'global.cancel_button' | translate}}"
        [text]="true"
        severity="secondary"
        (click)="deleteReviewDialogVisible = false"
        />
        <p-button label="{{'global.delete_button' | translate}}" severity="danger" (click)="DeleteReview()" />
    </ng-template>
    </p-dialog>

</div>
