<div class="contest-container">
  @if (authService.currentUser?.isAdmin) {
  <p-speeddial
    direction="left"
    [style]="{ position: 'absolute', top: 1, right: 'calc(1%)' }"
    [buttonProps]="{ severity: 'success', rounded: true }"
    (onClick)="newContest()"
  />
  }

  <div class="contest-header">
    <div>
      <h2>{{ 'contest.title_page' | translate }}</h2>
      <div>
        <button pButton class="p-button-outlined" [routerLink]="'/contest/leaderboard'">
          <i class="pi pi-chart-bar mr-2"></i>
          Leaderboard
        </button>
      </div>
    </div>
    <p [innerHTML]="'contest.description_page' | translate"></p>
  </div>

  <div class="advanced-filters mb-4">
    <div class="filter-header">
      <div class="search-mobile">
        <div class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <form (submit)="onSearch()">
            <p-float-label variant="in">
              <input
                class="search-bar"
                type="text"
                pInputText
                [(ngModel)]="currentQuery"
                name="searchTerm"
              />
              <label for="searchTerm">{{
                "contest.search_text" | translate
              }}</label>
            </p-float-label>
          </form>
        </div>
      </div>

      <div class="advanced-toggle" (click)="toggleAdvancedFilters()">
        <span class="filter-title">{{ "global.advanced" | translate }}</span>
        <i
          class="pi"
          [ngClass]="{
            'pi-chevron-down': showAdvancedFilters,
            'pi-chevron-right': !showAdvancedFilters
          }"
        ></i>
      </div>
    </div>

    <div class="filter-content" *ngIf="showAdvancedFilters">
      <div class="filter-row">
        <div class="filter-item participants-range">
          <label>{{ "contest.participants_range" | translate }}</label>
          <div class="slider-wrapper">
            <p-slider
              [range]="true"
              [(ngModel)]="currentValues"
              (onSlideEnd)="onSlideEnd($event)"
              [min]="0"
              [max]="30"
            />
            <div class="range-values">
              <span>{{ currentValues[0] }}</span>
              <span>{{ currentValues[1] }}</span>
            </div>
          </div>
        </div>

        <div class="filter-item">
          <div>
            <p-floatlabel variant="in">
              <p-select
                inputId="in_label"
                [options]="filterOptions"
                [(ngModel)]="selectedFilterOption"
                name="selectedFilterOption"
                optionLabel="label"
                styleClass="w-full"
                variant="filled"
                (onChange)="onFilterChange($event)"
                appendTo="body"
                [showClear]="true"
              />
              <label for="in_label">{{ "global.filter" | translate }}</label>
            </p-floatlabel>
          </div>
        </div>

        <div class="filter-item">
          <div>
            <p-floatlabel variant="in">
              <p-select
                inputId="in_label"
                [options]="sortOptions"
                [(ngModel)]="selectedSortOption"
                name="selectedSortOption"
                optionLabel="label"
                styleClass="w-full"
                variant="filled"
                (onChange)="onSortChange($event)"
                appendTo="body"
                [showClear]="true"
              />
              <label for="in_label">{{ "global.sort_by" | translate }}</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contest-list">
    <app-contest-card
      *ngFor="let contest of contests"
      [contest]="contest"
      (deleteContestEvent)="onContestDeleted($event)"
      [ngStyle]="{'display': 'flex'}"
    >
    </app-contest-card>
  </div>
</div>
