<div class="contest-container">
  @if (authService.currentUser?.isAdmin) {
  <p-speeddial direction="left" [style]="{ position: 'absolute', top: 1, right: 'calc(1%)' }"
    [buttonProps]="{ severity: 'success', rounded: true }" (onClick)="newContest()" />
  }

  <div class="contest-header">
    <h2>{{ 'contest.title_page' | translate }}</h2>
    <p [innerHTML]="'contest.description_page' | translate"></p>
  </div>

  <div class="advanced-filters mb-4">
    <div class="filter-header">
      <div class="search-mobile">
        <div class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <form (submit)="onSearch()">
            <p-float-label variant="in">
              <input class="search-bar" type="text" pInputText [(ngModel)]="currentQuery" name="searchTerm" />
              <label for="searchTerm">{{ 'contest.search_text' | translate }}</label>
            </p-float-label>
          </form>
        </div>
      </div>

      <div class="advanced-toggle" (click)="toggleAdvancedFilters()">
        <span class="filter-title">{{ 'global.advanced' | translate }}</span>
        <i class="pi"
          [ngClass]="{'pi-chevron-down': showAdvancedFilters, 'pi-chevron-right': !showAdvancedFilters}"></i>
      </div>
    </div>

    <div class="filter-content" *ngIf="showAdvancedFilters">
      <div class="filter-row">
        <div class="filter-item participants-range">
          <label>{{ 'contest.participants_range' | translate }}</label>
          <div class="slider-wrapper">
            <p-slider [range]="true" [(ngModel)]="currentValues" (onSlideEnd)="onSlideEnd($event)" [min]="0" [max]="30" />
            <div class="range-values">
              <span>{{ currentValues[0] }}</span>
              <span>{{ currentValues[1] }}</span>
            </div>
          </div>
        </div>

        <div class="filter-item">
          <div>
            <p-floatlabel variant="in">
              <p-select inputId="in_label" [options]="filterOptions" [(ngModel)]="selectedFilterOption"
                name="selectedFilterOption" optionLabel="label" styleClass="w-full" variant="filled"
                (onChange)="onFilterChange($event)" appendTo="body" />
              <label for="in_label">{{ 'global.filter' | translate }}</label>
            </p-floatlabel>
          </div>
        </div>

        <div class="filter-item">
          <div>
            <p-floatlabel variant="in">
              <p-select inputId="in_label" [options]="sortOptions" [(ngModel)]="selectedSortOption"
                name="selectedSortOption" optionLabel="label" styleClass="w-full" variant="filled"
                (onChange)="onSortChange($event)" appendTo="body" />
              <label for="in_label">{{ 'global.sort' | translate }}</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="search-container">
    <div class="flex">
      <div class="slider-wrapper">
        <p-slider [(ngModel)]="currentValue" (onSlideEnd)="onSlideEnd($event)" min="0" max="30" />
        <div class="range-values">
          <span>0</span>
          <span>{{ currentValue }}</span>
        </div>
      </div>
    </div>

    <p-floatlabel variant="in">
      <p-select inputId="in_label" [options]="filterOptions" [(ngModel)]="selectedFilterOption"
        name="selectedFilterOption" optionLabel="label" styleClass="w-full" variant="filled"
        (onChange)="onFilterChange($event)" />
      <label for="in_label">Filter</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-select inputId="in_label" [options]="sortOptions" [(ngModel)]="selectedSortOption" name="selectedSortOption"
        optionLabel="label" styleClass="w-full" variant="filled" (onChange)="onSortChange($event)" />
      <label for="in_label">Sort</label>
    </p-floatlabel>

    <form (submit)="onSearch()">
      <input class="search-bar" type="text" pInputText [(ngModel)]="currentQuery" name="searchTerm"
        placeholder="{{ 'contest.search_text' | translate }}" />
    </form>
  </div> -->

  <div class="contest-list">
    <div *ngFor="let contest of contests" class="card" [ngStyle]="{ opacity: contest.finished ? '0.5' : '1' }">
      <div class="contest-content">
        <img [src]="contest.image" alt="Contest image" class="contest-image" loading="lazy" />
        <div class="contest-details">
          <h3 class="contest-theme">{{ contest.theme }} {{ contest.finished ? '(Ended)' : '' }}</h3>
          <p class="contest-description">{{ contest.description ? (contest.description.length > 30 ?
            (contest.description | slice:0:30) + '...' : contest.description) : '' }}</p>
          <p *ngIf="contest.finished && contest.winnerUser">
            <i class="pi pi-trophy"></i><span> {{ 'contest.winner' | translate }}:</span> {{
            contest.winnerUser.username
            }}
          </p>
          <p *ngIf="!contest.finished || !contest.winnerUser">
            <i class="pi pi-users"></i><span> {{ 'contest.submission_limit' | translate }}:</span> {{
            contest.submissionLimit }}
          </p>

          <p><i class="pi pi-calendar"></i><span> {{ 'contest.starts' | translate }}:</span> {{ contest.startAt |
            date:'MMM d, y h:mm a' }}</p>
          <p><i class="pi pi-calendar-times"></i><span> {{ 'contest.ends' | translate }}:</span> {{ contest.endAt ?
            (contest.endAt | date:'MMM d, y h:mm a') : 'N/A' }}</p>
        </div>
      </div>


      <button [routerLink]="['/contest', contest.id, 'submissions']" pButton
        label="{{ 'contest.button_contest_detail' | translate }}"
        class="p-button-outlined contest-detail-button"></button>

      @if (authService.currentUser?.isAdmin) {
      <div class="admin-buttons">
        <button pButton icon="pi pi-pencil" class="p-button-text" (click)="editContest(contest)"></button>
        <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
          (click)="deleteContest(contest.id)"></button>
      </div>
      }
    </div>
  </div>
</div>

<p-dialog [(visible)]="deleteDialogVisible" [modal]="true" [style]="{ width: '25rem' }" dismissableMask="true"
  closable="false" blockScroll="true" resizable="false" draggable="false">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <i class="pi pi-exclamation-triangle text-red-500 text-2xl"></i>
      <span class="font-bold">{{ 'contest.confirm_delete' | translate }}</span>
    </div>
  </ng-template>
  <span class="text-surface-500 dark:text-surface-400 block mb-4">
    {{ 'contest.confirm_delete_message' | translate }}
  </span>
  <ng-template #footer>
    <p-button label="{{ 'global.cancel_button' | translate }}" [text]="true" severity="secondary"
      (click)="deleteDialogVisible = false" />
    <p-button label="{{ 'global.delete_button' | translate }}" severity="danger" (click)="confirmDelete()" />
  </ng-template>
</p-dialog>