<p-dialog
  [(visible)]="offerModalVisible"
  [modal]="true"
  [style]="{ width: '35rem' }"
  dismissableMask="true"
  closable="false"
  blockScroll="true"
  resizable="false"
  draggable="false"
  class="custom-dialog"
>
  <ng-template #header>
    <h2 class="font-semibold">
      {{ offerIdToEdit ? ('offerModal.edit_offer' | translate) : ('offerModal.submit_offer' | translate) }}
    </h2>
  </ng-template>

  <form [formGroup]="offerForm" (ngSubmit)="submitOffer()" class="space-y-4">
    <div class="grid grid-cols-2 gap-4">
      <div class="flex">
        <h3 class="font-medium text-gray-700">{{ 'offerForm.preset' | translate }}</h3>
        <div class="offer-form-field">
          <p-select
          formControlName="preset"
          [options]="presets"
          optionLabel="label"
          [placeholder]="'offerForm.choose_preset' | translate"
          class="w-full"
        ></p-select>
        </div>

        <div class="offer-form-field">
          <p-select
          formControlName="color"
          [options]="colors"
          optionLabel="label"
          [placeholder]="'offerForm.select_color' | translate"
          class="w-full"
        ></p-select>
        </div>

        <div class="offer-form-field">
              <p-select
              formControlName="filament"
              [options]="filaments"
              optionLabel="label"
              [placeholder]="'offerForm.select_filament' | translate"
              class="w-full"
            ></p-select>
        </div>  

        <div class="offer-form-field">
            <p-inputnumber 
              formControlName="quality"
              suffix="mm"
              [showButtons]="true" 
              buttonLayout="horizontal" 
              inputId="horizontal" 
              spinnerMode="horizontal"
              [placeholder]="'offerForm.quality' | translate"
              [step]="0.04" 
              mode="decimal"
              [min]="0.01"
              [max]="2">
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
        </div>
      </div>

      <div class="flex space-y-3">
        <h3 class="font-medium text-gray-700">{{ 'offerForm.print' | translate }}</h3>
        <p-select
          formControlName="printer"
          [options]="printers"
          optionLabel="label"
          [placeholder]="'offerForm.choose_printer' | translate"
          class="w-full"
          [ngStyle]="{ 'margin-bottom': '10px' }"
          appendTo="body"
        ></p-select>

        <div class="form-row">
          <div class="form-group">
            <p-floatlabel variant="in">
              <div>
                  <p-datepicker
                  id="targetDate"
                  formControlName="targetDate"
                  [showIcon]="true"
                  inputId="buttondisplay"
                  [showOnFocus]="false"
                  styleClass="date-picker-full-on-mobile"
                  dateFormat="yy-mm-dd"
                  appendTo="body"
                ></p-datepicker>
                <label for="targetDate" class="block font-semibold">{{ 'offerForm.target_date' | translate }}</label>
              </div>
            </p-floatlabel>

            <p-message
            *ngIf="offerForm.get('targetDate')?.errors?.['required'] && (offerForm.get('targetDate')?.dirty || offerForm.get('targetDate')?.touched)"
            severity="error"
            variant="simple"
            size="small"
          >
            {{ 'offerForm.target_date_required' | translate }}
          </p-message>
          <p-message
            *ngIf="!offerForm.get('targetDate')?.errors?.['required'] && offerForm.get('targetDate')?.errors?.['dateError'] && (offerForm.get('targetDate')?.dirty || offerForm.get('targetDate')?.touched)"
            severity="error"
            variant="simple"
            size="small"
          >
            {{ 'offerForm.target_date_future' | translate }}
          </p-message>
          </div>

            <div class="form-group">
              <p-floatlabel variant="in">
                <p-inputnumber
                  formControlName="price"
                  [min]="0"
                  [max]="10000"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                  prefix="$"
                  [ngStyle]="{ width: '100%' }"
                ></p-inputnumber>
                <label for="price">{{ 'offerForm.price' | translate }}</label>
              </p-floatlabel>

              <p-message
              *ngIf="offerForm.get('price')?.errors?.['required'] && (offerForm.get('price')?.dirty || offerForm.get('price')?.touched)"
              severity="error"
              variant="simple"
              size="small"
            >
              {{ 'offerForm.price_required' | translate }}
            </p-message>

            <p-message
              *ngIf="!offerForm.get('price')?.errors?.['required'] && offerForm.get('price')?.errors?.['min'] && (offerForm.get('price')?.dirty || offerForm.get('price')?.touched)"
              severity="error"
              variant="simple"
              size="small"
            >
              {{ 'offerForm.price_min' | translate }}
            </p-message>

            <p-message
              *ngIf="!offerForm.get('price')?.errors?.['required'] && offerForm.get('price')?.errors?.['max'] && (offerForm.get('price')?.dirty || offerForm.get('price')?.touched)"
              severity="error"
              variant="simple"
              size="small"
            >
              {{ 'offerForm.price_max' | translate }}
            </p-message>

            </div>
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-end gap-3 pt-4">
      <p-button
        *ngIf="isEditMode"
        [label]="'offerForm.delete' | translate"
        icon="pi pi-trash"
        severity="danger"
        class="p-button-sm"
        (click)="deleteOffer()"
      ></p-button>

      <p-button
        [label]="'offerForm.cancel' | translate"
        icon="pi pi-times"
        severity="secondary"
        class="p-button-sm"
        (click)="closeModal()"
      ></p-button>

      <p-button
        type="submit"
        [label]="'offerForm.submit' | translate"
        icon="pi pi-check"
        severity="success"
        class="p-button-sm"
        [disabled]="offerForm.invalid"
      ></p-button>
    </div>
  </form>
</p-dialog>
<p-toast></p-toast>