<div class="login-container">
    <p-card class="login-card shadow">
        <h2 class="app-title">{{ 'login.title' | translate }}</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div *ngIf="hasErrors()" class="error-message">
                <p-message severity="error">
                    <div *ngFor="let error of errors | keyvalue">
                        <p>{{error.value}}</p>
                    </div>
                </p-message>
            </div>

            <div class="input-group flex flex-col gap-1">
                <label for="username">{{ 'login.username' | translate }}</label>
                <input type="text" pInputText id="username" formControlName="username" class="input-field" />
                <p-message
                    *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)"
                    severity="error" variant="simple" size="small">{{ 'login.username_required' | translate}}</p-message>
            </div>

            <div class="input-group flex flex-col gap-1">
                <label for="password">{{ 'login.password' | translate }}</label>
                <input type="password" pInputText formControlName="password" class="input-field" />
                <p-message
                    *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                    severity="error" variant="simple" size="small">{{ 'login.password_required' | translate}}</p-message>
            </div>

            <p-button type="submit" severity="info" class="login-btn"
                [disabled]="loginForm.invalid"> {{ 'login.login' | translate }} </p-button>
            <p class="signin-option"> {{ 'login.not_registered' | translate }} <a routerLink="/signup" class="clickable">{{ 'login.register' | translate }}</a></p>
        </form>
    </p-card>
</div>