<div class="card p-6">
  <h1>
    {{ isEditMode ? "Edit Request" : "Request Details" }}
  </h1>

  <form [formGroup]="form">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Left Section: Request Details -->
      <div class="flex flex-col">
        <div class="form-field">
          <p-floatlabel variant="in" floatLabel="always">
            <input
              id="name"
              pInputText
              formControlName="name"
              class="w-full"
              min="3"
            />
            <label for="name">Name</label>
          </p-floatlabel>
          <p-message
          *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)"
          severity="error"
          variant="simple"
          size="small"
        >Name is required</p-message>
        </div>

        <div class="form-field">
          <p-floatlabel variant="in">
            <label for="budget" class="block font-semibold">Budget</label>
            <input
              id="budget"
              pInputText
              formControlName="budget"
              class="w-full"
              type="number"
              min="0"
              max="10000"
            />
          </p-floatlabel>

          <p-message
            *ngIf="form.get('budget')?.invalid && (form.get('budget')?.dirty || form.get('budget')?.touched)"
            severity="error"
            variant="simple"
            size="small"
          >Budget is required</p-message>
        </div>

        <p-floatlabel variant="in">
          <textarea
            pTextarea
            id="comment"
            formControlName="comment"
            rows="5"
            cols="30"
            style="resize: none"
            class="h-full"
          ></textarea>
          <label for="comment">Special comment about the request</label>
        </p-floatlabel>

        <p-floatlabel variant="in">
          <div class="w-full">
            <p-datepicker
              id="targetDate"
              formControlName="targetDate"
              [showIcon]="true"
              inputId="buttondisplay"
              [showOnFocus]="false"
              class="w-full"
              dateFormat="yy-mm-dd"
            ></p-datepicker>
            <label for="targetDate" class="block font-semibold">Target Date</label>
          </div>
        </p-floatlabel>
      </div>

      <!-- Right Section: STL Preview -->
      <div class="stl-section flex flex-col items-center">
        <div class="stl-placeholder">
          <p-message
            *ngIf="!request.stlFileUrl && !uploadedFile"
            severity="warn"
            text="No STL file uploaded"
          ></p-message>
          <stl-model-viewer *ngIf="(isEditMode || isViewMode) && request.stlFileUrl" [stlModels]="[request.stlFileUrl]"></stl-model-viewer>
          <stl-model-viewer *ngIf="isNewMode && uploadedFileBlob" [stlModelFiles]="[uploadedFileBlob]"></stl-model-viewer>
        </div>

        <div class="stl-actions flex gap-2 mt-4">
          <p-button
            *ngIf="isViewMode"
            label="Download file"
            icon="pi pi-download"
            class="p-button-outlined flex-1"
            (onClick)="downloadFile(request.stlFileUrl)"
          ></p-button>
          <p-fileUpload
            *ngIf="isEditMode || isNewMode"
            mode="basic"
            maxFileSize="10000000"
            invalidFileSizeMessageDetail="File size is too large. Max 10MB"
            invalidFileTypeMessageDetail="File type is not supported. Please upload a .stl file"
            customUpload="false"
            (onSelect)="onFileUpload($event)"
            accept=".stl"
            chooseLabel="Upload file"
            class="flex-1"
          ></p-fileUpload>
        </div>
      </div>
    </div>

    <!-- Presets Section -->
    <div style="display: flex" class="justify-between items-center mt-6">
      <h3 class="text-lg font-semibold self-center" style="margin-right: 10px">
        {{ request.presets.length }} Presets recommended
        <p-button
          id="add-preset"
          *ngIf="isEditMode || isNewMode"
          label="Add preset"
          [link]="true"
          icon="pi pi-plus"
          (click)="addPreset()"
        ></p-button>
      </h3>
    </div>
  </form>
    <!-- Reactive FormArray for Presets -->
    
    <p-table
    [value]="request.presets"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    *ngIf="request.presets.length > 0"
  >
    <ng-template #header>
      <tr>
        <th>Printer</th>
        <th>Filament Type</th>
        <th>Color</th>
        <th>Print Quality (mm)</th>
        <th *ngIf="isEditMode || isNewMode" style="width: 10%">Actions</th>
      </tr>
    </ng-template>

    <ng-template #body let-preset let-ri="rowIndex">
      <tr>
        <!-- Printer -->
        <td>
          <p-dropdown
          [(ngModel)]="preset.printerModel"
          [options]="printers"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Printer"
          [disabled]="isViewMode"
          appendTo="body"
        ></p-dropdown>
        </td>

        <!-- Filament Type -->
        <td>
          <p-dropdown
          [(ngModel)]="preset.filamentType"
          [options]="filamentTypes"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Filament"
          [disabled]="isViewMode"
          appendTo="body"
        ></p-dropdown>
        </td>

        <!-- Color -->
        <td>
          <p-dropdown
          [(ngModel)]="preset.color"
          [options]="colors"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Color"
          [disabled]="isViewMode"
          appendTo="body"
        ></p-dropdown>
        </td>

        <!-- Print Quality -->
        <td>
          <p-inputnumber 
            [showButtons]="isEditMode || isNewMode" 
            buttonLayout="horizontal" 
            spinnerMode="vertical" 
            inputId="vertical" 
            [inputStyle]="{ width: '4rem' }" 
            [(ngModel)]="preset.printQuality" 
            [step]="0.04" 
            [min]="0.01" 
            [max]="2"
            [disabled]="isViewMode">
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
        </td>

        <!-- Delete Button -->
        <td *ngIf="isEditMode || isNewMode">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="removePreset(ri)"
            severity="danger"
            appendTo="body"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Other Buttons for view, edit, new modes ... -->
  <div class="flex justify-end mt-6 gap-3 edit-actions" *ngIf="isViewMode">
    <div class="flex justify-end">
      <button
        pButton
        pRipple
        type="button"
        label="Make an Offer"
        icon="pi pi-money-bill"
        class="p-button-info"
        (click)="makeAnOffer()"
        severity="info"
        appendTo="body"
      ></button>
    </div>
  </div>

  <div class="flex justify-end mt-6 gap-3 edit-actions" *ngIf="isEditMode">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      severity="secondary"
      (click)="cancelEdit()"
    ></p-button>
    <p-button
      label="Delete"
      icon="pi pi-trash"
      severity="danger"
      (click)="deleteRequest()"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-save"
      severity="success"
      (click)="saveChanges()"
    ></p-button>
  </div>

  <div class="flex justify-end mt-6 gap-3 edit-actions" *ngIf="isNewMode">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      severity="secondary"
      (click)="cancelNew()"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-save"
      severity="success"
      [disabled]="form.invalid || !uploadedFile"
      (click)="createRequest()"
    ></p-button>
  </div>
</div>
