<div class="card p-4">
  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-bold">{{ "request.title" | translate }}</h1>
    <p-button
      label="{{ 'request.create_button' | translate }}"
      icon="pi pi-plus"
      routerLink="/requests/new"
    />
  </div>

  <p-toast />

  <p-tabs [(value)]="activeTab">
    <p-tablist>
      <p-tab value="all" (click)="onTabChange('all')">{{
        "request.tab_all" | translate
      }}</p-tab>
      <p-tab value="mine" (click)="onTabChange('mine')">{{
        "request.tab_mine" | translate
      }}</p-tab>
      <p-tab value="stats" (click)="onTabChange('stats')">{{
        "request.tab_stats" | translate
      }}</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel *ngFor="let tab of ['all', 'mine']" [value]="tab">
        <div class="advanced-filters mb-4">
          <div class="filter-header">
            <div class="search-container">
              <span class="p-input-icon-right">
                <i class="pi pi-search" (click)="onSearch()"></i>
                <input
                  pInputText
                  type="text"
                  placeholder="{{ 'request.search_placeholder' | translate }}"
                  [(ngModel)]="searchQuery"
                  (keyup.enter)="onSearch()"
                  id="searchInput"
                />
              </span>
            </div>

            <div class="advanced-toggle" (click)="toggleAdvancedFilters()">
              <span class="filter-title">{{
                "request.advanced_filters" | translate
              }}</span>
              <i
                class="pi"
                [ngClass]="{
                  'pi-chevron-down': showAdvancedFilters,
                  'pi-chevron-right': !showAdvancedFilters
                }"
              ></i>
            </div>
          </div>

          <div class="filter-content" *ngIf="showAdvancedFilters">
            <div class="filter-row">
              <div class="filter-item budget-range">
                <label>{{ "request.budget_range" | translate }}</label>
                <div>
                  <div>
                    <p-inputNumber
                      [(ngModel)]="budgetRange[0]"
                      [min]="0"
                      [max]="10000"
                      (onBlur)="onManualBudgetChange()"
                      placeholder="Min"
                      mode="currency"
                      currency="USD"
                      [showButtons]="false"
                      [style]="{ width: '100px' }"
                    >
                    </p-inputNumber>
                    <span> - </span>
                    <p-inputNumber
                      [(ngModel)]="budgetRange[1]"
                      [min]="0"
                      [max]="10000"
                      (onBlur)="onManualBudgetChange()"
                      placeholder="Max"
                      mode="currency"
                      currency="USD"
                      [showButtons]="false"
                      [style]="{ width: '100px' }"
                    >
                    </p-inputNumber>
                  </div>
                </div>
              </div>

              <div class="filter-item date-filter">
                <div>
                  <p-floatlabel variant="in">
                    <p-datepicker
                      [(ngModel)]="dateRange"
                      selectionMode="range"
                      [showIcon]="true"
                      dateFormat="yy-mm-dd"
                      appendTo="body"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      yearRange="2000:2060"
                      (onSelect)="onDateChange($event)"
                    ></p-datepicker>
                    <label
                      *ngIf="
                        !dateRange ||
                        (dateRange && dateRange[0] && dateRange[1])
                      "
                      >{{ "request.date_range" | translate }}</label
                    >
                    <label *ngIf="dateRange && dateRange[0] && !dateRange[1]">{{
                      "request.date_from" | translate
                    }}</label>
                  </p-floatlabel>
                </div>
              </div>

              <div class="filter-item">
                <div>
                  <p-float-label variant="in">
                    <p-multiSelect
                      [options]="multiFilterOptions"
                      [(ngModel)]="currentMultiFilterOptions"
                      optionLabel="label"
                      [filter]="true"
                      appendTo="body"
                      [showToggleAll]="true"
                      [showHeader]="true"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                      (onChange)="onMultiFilterChange($event)"
                      (onClear)="onMultiFilterChange($event)"
                    ></p-multiSelect>
                    <label>{{ "request.filter_by" | translate }}</label>
                  </p-float-label>
                </div>
              </div>

              <div class="filter-item">
                <p-float-label variant="in">
                  <p-select
                    [options]="sortOptions"
                    [(ngModel)]="selectedSortOption"
                    variant="filled"
                    [showClear]="true"
                    optionLabel="label"
                    appendTo="body"
                    (onChange)="onSortChange($event)"
                  ></p-select>
                  <label>{{ "request.sort_by" | translate }}</label>
                </p-float-label>
              </div>
            </div>
          </div>

          <div class="filter-actions-bar">
            <div class="flex gap-2 toggle-all">
              <p-button
                label="{{ 'request.expand_all' | translate }}"
                icon="pi pi-plus"
                text
                (onClick)="expandAll()"
              />
              <p-button
                label="{{ 'request.collapse_all' | translate }}"
                icon="pi pi-minus"
                text
                (onClick)="collapseAll()"
              />
            </div>

            <div class="filter-buttons">
              <p-button
                icon="pi pi-filter-slash"
                styleClass="p-button-sm p-button-outlined"
                (onClick)="clearAdvancedFilters()"
                pTooltip="{{ 'request.clear_filters' | translate }}"
                tooltipPosition="left"
              ></p-button>
            </div>
          </div>
        </div>

        <p-table
          *ngIf="currentRequests.length > 0"
          [value]="currentRequests"
          dataKey="id"
          [tableStyle]="{ 'min-width': '60rem' }"
          scrollable="true"
          scrollDirection="horizontal"
          [expandedRowKeys]="expandedRows"
          (onRowExpand)="onRowExpand($event)"
          (onRowCollapse)="onRowCollapse($event)"
        >
          <ng-template #header>
            <tr>
              <th style="width: 5rem"></th>
              <th class="font-bold text-lg">
                {{ "request.name" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.budget" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.target_date" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.country" | translate }}
              </th>
              <th *ngIf="activeTab == 'mine'" class="font-bold text-lg">
                Status
              </th>
              <th class="font-bold text-lg" style="width: 4rem">
                {{ "request.actions" | translate }}
              </th>
            </tr>
          </ng-template>

          <ng-template #body let-request let-expanded="expanded">
            <tr>
              <td>
                <p-button
                  type="button"
                  [pRowToggler]="request"
                  [text]="true"
                  [rounded]="true"
                  [plain]="true"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                />
              </td>
              <td [ngClass]="{ 'disabled-col': request.acceptedAt }">
                {{ request.name }}
              </td>
              <td [ngClass]="{ 'disabled-col': request.acceptedAt }">
                {{ request.budget == 0 ? "Free" : (request.budget | currency) }}
              </td>
              <td [ngClass]="{ 'disabled-col': request.acceptedAt }">
                {{ request.targetDate.toISOString().substring(0, 10) | date }}
              </td>
              <td [ngClass]="{ 'disabled-col': request.acceptedAt }">
                {{ request.user.country.name }}
              </td>
              <td *ngIf="activeTab == 'mine'">
                <span
                  [ngStyle]="{
                    color: 'rgb(34, 34, 34)',
                    'background-color': request.acceptedAt
                      ? 'rgb(143, 255, 98)'
                      : 'rgb(255, 176, 86)',
                    'border-radius': '10px',
                    height: '30px',
                    width: '90px',
                    padding: '7px',
                    display: 'flex',
                    'flex-direction': 'row',
                    'align-items': 'center',
                    'justify-content': 'center'
                  }"
                >
                  <p *ngIf="request.acceptedAt">
                    {{ "request.accepted" | translate }}
                  </p>
                  <p *ngIf="!request.acceptedAt">
                    {{ "request.pending" | translate }}
                  </p>
                </span>
              </td>
              <td>
                <div class="flex gap-2">
                  <p-button
                    icon="pi pi-arrow-right"
                    pTooltip="{{ 'request.see_details' | translate }}"
                    tooltipPosition="top"
                    routerLink="/requests/view/{{ request.id }}"
                    *ngIf="tab === 'all'"
                  ></p-button>
                  <p-button
                    *ngIf="tab === 'mine' && !request.acceptedAt"
                    icon="pi pi-pencil"
                    pTooltip="{{ 'request.edit' | translate }}"
                    tooltipPosition="top"
                    routerLink="/requests/edit/{{ request.id }}"
                  ></p-button>
                  <p-button
                    *ngIf="tab === 'mine' && request.acceptedAt"
                    icon="pi pi-pencil"
                    pTooltip="{{ 'request.edit_disabled' | translate }}"
                    tooltipPosition="top"
                    [disabled]="true"
                  ></p-button>
                  <p-button
                    *ngIf="tab === 'mine' && !request.acceptedAt"
                    icon="pi pi-trash"
                    pTooltip="{{ 'request.delete' | translate }}"
                    tooltipPosition="top"
                    (onClick)="showDeleteDialog(request)"
                  ></p-button>
                  <p-button
                    *ngIf="tab === 'mine' && request.acceptedAt"
                    icon="pi pi-trash"
                    pTooltip="{{ 'request.delete_disabled' | translate }}"
                    tooltipPosition="top"
                    [disabled]="true"
                  ></p-button>
                  <p-button
                    icon="pi pi-download"
                    pTooltip="{{ 'request.download' | translate }}"
                    tooltipPosition="top"
                    (click)="downloadRequest(request.stlFileUrl)"
                  >
                  </p-button>
                  <p-button
                    icon="pi pi-share-alt"
                    pTooltip="{{ 'request.share' | translate }}"
                    tooltipPosition="top"
                    (click)="copyToClipboard('requests/view/' + request.id)"
                  ></p-button>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template #expandedrow let-request>
            <tr>
              <td colspan="7" style="background-color: #f5f5f5">
                <div>
                  <h3>{{ "request.preset_details" | translate }}</h3>
                  <p-table
                    *ngIf="request.presets.length > 0"
                    [value]="request.presets"
                    dataKey="id"
                  >
                    <ng-template #header>
                      <tr>
                        <th class="font-bold text-lg">
                          {{ "request.printer_model" | translate }}
                        </th>
                        <th class="font-bold text-lg">
                          {{ "request.filament_type" | translate }}
                        </th>
                        <th class="font-bold text-lg">
                          {{ "request.color" | translate }}
                        </th>
                        <th class="font-bold text-lg">
                          {{ "request.print_quality" | translate }}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template #body let-preset>
                      <tr>
                        <td>{{ preset.printerModel.model }}</td>
                        <td>{{ preset.filamentType.name }}</td>
                        <td>{{ preset.color.name }}</td>
                        <td>{{ preset.printQuality }}mm</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <div
                    *ngIf="request.presets.length === 0"
                    class="empty-message"
                  >
                    <i class="pi pi-inbox text-4xl text-gray-400"></i>
                    <p class="text-lg font-semibold text-gray-500">
                      {{ "request.no_presets" | translate }}
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <div
          *ngIf="activeTab == 'all' && !isOwningPrinter"
          class="empty-message"
          style="width: 100%; height: 100%"
        >
          <i class="pi pi-inbox text-6xl text-gray-400"></i>
          <p
            class="text-xl font-semibold text-gray-500 mt-2"
            *ngIf="!isOwningPrinter"
          >
            {{ "request.no_printer" | translate }}
          </p>
        </div>

        <div
          *ngIf="
            (isOwningPrinter && currentRequests.length === 0) ||
            (activeTab == 'mine' && currentRequests.length === 0)
          "
          class="empty-message"
        >
          <i class="pi pi-inbox text-6xl text-gray-400"></i>
          <p class="text-xl font-semibold text-gray-500 mt-2">
            {{ "request.nothing_to_show" | translate }}
          </p>
        </div>
      </p-tabpanel>

      <!-- TODO -->

      <div *ngIf="activeTab == 'stats'">
        <div class="report-filter-item mb-4">
          <div class="filter-content">
            <div class="filter-row">
              <div class="filter-item date-filter">
                <p-floatlabel variant="in">
                  <p-datepicker
                    [(ngModel)]="dateRange"
                    selectionMode="range"
                    [showIcon]="true"
                    dateFormat="yy-mm-dd"
                    appendTo="body"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    yearRange="2000:2060"
                    (onSelect)="onDateChange($event)"
                  ></p-datepicker>
                  <label
                    *ngIf="
                      !dateRange || (dateRange && dateRange[0] && dateRange[1])
                    "
                    >{{ "request.date_range" | translate }}</label
                  >
                  <label *ngIf="dateRange && dateRange[0] && !dateRange[1]">{{
                    "request.date_from" | translate
                  }}</label>
                </p-floatlabel>
              </div>

              <div class="filter-item">
                <div>
                  <p-float-label variant="in">
                    <p-multiSelect
                      [options]="multiFilterOptions"
                      [(ngModel)]="currentMultiFilterOptions"
                      optionLabel="label"
                      [filter]="true"
                      appendTo="body"
                      [showToggleAll]="true"
                      [showHeader]="true"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                      (onChange)="onMultiFilterChange($event)"
                      (onClear)="onMultiFilterChange($event)"
                    ></p-multiSelect>
                    <label>{{ "request.filter_by" | translate }}</label>
                  </p-float-label>
                </div>
              </div>

              <div class="filter-item">
                <p-float-label variant="in">
                  <p-select
                    [options]="sortOptions"
                    [(ngModel)]="selectedSortOption"
                    variant="filled"
                    [showClear]="true"
                    optionLabel="label"
                    appendTo="body"
                    (onChange)="onSortChange($event)"
                  ></p-select>
                  <label>{{ "request.sort_by" | translate }}</label>
                </p-float-label>
              </div>
            </div>
          </div>
        </div>

        <p-table
          [value]="stats ?? []"
          [tableStyle]="{ 'min-width': '1000px' }"
          [scrollable]="true"
          scrollDirection="horizontal"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="font-bold text-lg">
                {{ "request.color" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.filament_type" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.print_quality" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.total_offers" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.accepted_offers" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.acceptance_rate" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.total_price" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.avg_price_diff" | translate }}
              </th>
              <th class="font-bold text-lg">
                {{ "request.avg_response_time" | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-preset>
            <tr>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{ preset.colorName }}
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{ preset.filamentName }}
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{ preset.presetQuality }}mm
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{ preset.totalOffers }}
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{ preset.acceptedOffers }}
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{
                  preset.totalOffers > 0
                    ? preset.acceptanceRatePercent + "%"
                    : "N/A"
                }}
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{ preset.totalAcceptedPrice | currency }}
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{
                  preset.avgPriceDiff !== null
                    ? (preset.avgPriceDiff | currency)
                    : "N/A"
                }}
              </td>
              <td [ngClass]="{ highlight: preset.presetId }">
                {{ preset.avgResponseTimeHours || "N/A"
                }}<span *ngIf="preset.avgResponseTimeHours"> H</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10">
                <div class="empty-message">
                  <i class="pi pi-inbox text-4xl text-gray-400"></i>
                  <p class="text-lg font-semibold text-gray-500">
                    {{ "request.no_preset_stats" | translate }}
                  </p>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabpanels>
  </p-tabs>
</div>

<p-dialog
  [(visible)]="deleteDialogVisible"
  [modal]="true"
  [style]="{ width: '25rem' }"
  dismissableMask="true"
  closable="false"
  blockScroll="true"
  resizable="false"
  draggable="false"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <i class="pi pi-exclamation-triangle text-red-500 text-2xl"></i>
      <span class="font-bold" style="margin-left: 10px">{{
        "request.confirm_delete" | translate
      }}</span>
    </div>
  </ng-template>
  <span class="text-surface-500 dark:text-surface-400 block mb-4">
    {{ "request.confirm_delete_message" | translate }}
  </span>
  <ng-template #footer>
    <p-button
      label="{{ 'global.cancel_button' | translate }}"
      [text]="true"
      severity="secondary"
      (click)="deleteDialogVisible = false"
    />
    <p-button
      label="{{ 'global.delete_button' | translate }}"
      severity="danger"
      (click)="confirmDelete()"
    />
  </ng-template>
</p-dialog>
