<div style="padding: 10px;">
    <div class="page-header">
        <h1 class="header-item">{{'home.title' | translate}}</h1>
        <img class="header-item" src="PrintEasyLogo.png">
    </div>

    <div class="section" *ngIf="requests.length > 0">
        <h2>{{'home.request_header' | translate}}</h2>
        <hr>
        <div class="list">
            <div *ngFor="let request of requests">
                <p-card (click)="GoTo(request)">
                    <ng-template #header>
                        <div class="card-header">
                            <div class="card-header-content" (click)="$event.stopPropagation()">
                                <stl-model-viewer [stlModels]="[request?.stlFileUrl ?? '']"></stl-model-viewer>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #title>
                        <p style="margin-bottom: 10px; margin-top: 0px;" class="black-text">{{request.name}}</p>
                    </ng-template>
                    <ng-template #content>
                        <div class="h-row">
                            <p class="card-content-label">{{'home.by_label' | translate}}</p>
                            <p-button [label]="request.user?.username" [link]="true" routerLink="/profile/{{request.user?.id}}"/>
                        </div>
                        <div class="h-row">
                            <p class="card-content-label">{{'home.budget_label' | translate}}</p>
                            <p class="black-text">{{request.budget | currency}}</p>
                        </div>
                        <div class="h-row">
                            <p class="card-content-label">{{'home.target_date_label' | translate}}</p>
                            <p class="black-text">{{request.targetDate | date}}</p>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>

    <div class="section" *ngIf="contests.length > 0">
        <h2>{{'home.contest_header' | translate}}</h2>
        <hr>
        <div class="list">
            <div *ngFor="let contest of contests">
                <p-card (click)="GoTo(contest)">
                    <ng-template #header>
                        <div class="card-header">
                            <div class="card-header-content">
                                <img [src]="contest.image" lazy="loading">
                            </div>
                        </div>
                    </ng-template>

                    <ng-template #title>
                        <p style="margin-bottom: 10px; margin-top: 0px;" class="black-text">{{contest.theme}}</p>
                    </ng-template>
                    <ng-template #content>
                        <div class="h-row">
                            <p class="card-content-label" *ngIf="contest.endAt">{{'home.end_date_label' | translate}}</p>
                            <p *ngIf="contest.endAt" class="black-text">{{contest.endAt | date}}</p>
                            <p class="card-content-label black-text" *ngIf="!contest.endAt">{{'home.no_end_date_label' | translate}}</p>
                        </div>
                        <div class="h-row">
                            <p class="card-content-label">{{'home.number_submissions' | translate}}</p>
                            <p class="black-text">{{contest.submissionLimit}}</p>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>

    <div class="section" *ngIf="submissions.length > 0">
        <h2>{{'home.submissions_header' | translate}}</h2>
        <hr>
        <div class="list">
            <div *ngFor="let submission of submissions">
                <p-card (click)="GoTo(submission)">
                    <ng-template #header>
                        <div class="card-header">
                            <div class="card-header-content">
                                <img [src]="submission.imageUrl" lazy="loading">
                            </div>
                        </div>
                    </ng-template>

                    <ng-template #title>
                        <p style="margin-bottom: 10px; margin-top: 0px;" class="black-text">{{submission.name}}</p>
                    </ng-template>
                    <ng-template #content>
                        <div class="h-row">
                            <p class="card-content-label">{{'home.by_label' | translate}}</p>
                            <p-button [label]="submission.user?.username" [link]="true" routerLink="/profile/{{submission.user?.id}}"/>
                        </div>
                        <div class="h-row">
                            <p class="card-content-label">{{'home.created_at_label' | translate}}</p>
                            <p class="black-text">{{submission.created_at | date}}</p>
                        </div>
                    </ng-template>
                    <ng-template #footer>
                        <div class="h-row">
                            <p-button [icon]="submission.liked ? 'pi pi-heart-fill' : 'pi pi-heart'"
                                [severity]="submission.liked ? 'danger' : 'secondary'"
                                [outlined]="!submission.liked" (click)="$event.stopPropagation(); onLike(submission)" />
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>
