<div class="signup-container">
    <p-card class="signup-card">
        <h2 class="app-title">Sign Up</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

            <div *ngIf="errors != {}" class="error-message">
                <p-message *ngFor="let error of errors | keyvalue" severity="error" variant="simple"
                    size="small">{{error.value}}</p-message>

            </div>

            <div class="input-group flex flex-col gap-1">
                <label for="username">Username</label>
                <input type="text" pInputText id="username" formControlName="username" class="input-field" />
                <p-message
                    *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.dirty || signupForm.get('username')?.touched)"
                    severity="error" variant="simple" size="small">Username is required</p-message>
            </div>

            <div class="input-group flex flex-col gap-1">
                <label for="password">Password</label>
                <p-password type="password" [feedback]="true" id="password" formControlName="password"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" [toggleMask]="true">
                </p-password>
                <p-message
                    *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)"
                    severity="error" variant="simple" size="small">Password is required</p-message>
            </div>


            <div class="input-group flex flex-col gap-1">
                <label for="confirmPassword">Confirm Password</label>
                <p-password type="password" [feedback]="false" id="confirmPassword" formControlName="confirmPassword"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" [toggleMask]="true">
                </p-password>
                <p-message
                    *ngIf="signupForm.errors?.['mismatch'] && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)"
                    severity="error" variant="simple" size="small">Passwords do not match</p-message>

                <p-message
                    *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)"
                    severity="error" variant="simple" size="small">Passwords confirmation is required</p-message>
            </div>

            <p-button type="submit" label="Create an account" [disabled]="signupForm.invalid"
                severity="success"></p-button>
            <p class="signin-option">Already have an account? <a routerLink="/login" class="clickable">Login</a>
            </p>
        </form>
    </p-card>
</div>